In [6]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [3]:
### Load the trained model , scalaer pickel , onehot
import pickle
from tensorflow.keras.models import load_model

model = load_model('model.keras') 

## load the encoder and scalar
with open('onehotencoder_geo.pkl','rb') as file:
    label_encoder_geo = pickle.load(file)

with open('label_encoder_gender.pkl','rb') as file:
    label_encoder_gender = pickle.load(file)

with open('scaler.pkl','rb') as file:
    scaler = pickle.load(file)

In [4]:
#example input data

input_data = {
    'CreditSCore': 600,
    'Geography': 'France',
    'Gender' : 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [7]:
##one hot encoding'Geography'
geo_encoded = label_encoder_geo.transform([[input_data['Geography']]])
geo_encoded_df = pd.DataFrame(geo_encoded, columns=label_encoder_geo.categories_[0])
geo_encoded_df

c:\Users\aryan.katoch\AppData\Local\anaconda3\envs\annproject\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   France  Germany  Spain
0     1.0      0.0    0.0

In [8]:
input_df=pd.DataFrame([input_data])
input_df

,CreditSCore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [9]:
## encode categorial variables
input_df['Gender'] = label_encoder_gender.transform(input_df['Gender'])
input_df

,CreditSCore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [10]:
##concat with one hot encoded data 
input_df = pd.concat([input_df.drop("Geography",axis=1), geo_encoded_df], axis=1)
input_df

,CreditSCore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,France,Germany,Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [ ]:
# Rename columns to match the feature names used during fitting
input_df.rename(columns={
	'CreditSCore': 'CreditScore',
	'France': 'Geography_France',
	'Germany': 'Geography_Germany',
	'Spain': 'Geography_Spain'
}, inplace=True)

# Scaling the input data using the loaded scaler
input_scaled = scaler.transform(input_df)
input_scaled

ValueError: The feature names should match those that were passed during fit.
Feature names unseen at fit time:
- CreditSCore
- France
- Germany
- Spain
Feature names seen at fit time, yet now missing:
- CreditScore
- Geography_France
- Geography_Germany
- Geography_Spain